html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory; /* enable vertical snapping */
  overflow-y: scroll;
  scroll-behavior: smooth !important;   
  /* chrome://flags/#smooth-scrolling      */
}

.page-container {
    margin: 0;
}

.page-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  scroll-snap-align: start;
  background-color: #000;
  color: aliceblue;
  font-weight: 100;
  font-family: sans-serif;
  p {
        width: 70%;
    text-align: center;
  }
}